<a href="https://colab.research.google.com/github/easgarli/datascience_bootcamp/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.0.3'

In [8]:
y = np.array([1,2,3])

In [10]:
z =pd.Series(y)

In [11]:
type(z)

pandas.core.series.Series

In [17]:
z.index=['a','b','c']

In [19]:
z.columns[num]
z

AttributeError: 'Series' object has no attribute 'columns'

In [21]:
pd.concat([z,z])

a    1
b    2
c    3
a    1
b    2
c    3
dtype: int64

In [24]:
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6]})

In [25]:
df

   a  b
0  1  4
1  2  5
2  3  6

In [55]:
a={"name":["d",1,2,5], "surname":["gg","hhh","yyy","%ghh"]}
b=["A","B","C","D"]
df = pd.DataFrame(data=a,index=b)
df

  name surname
A    d      gg
B    1     hhh
C    2     yyy
D    5    %ghh

In [72]:
df["name","A"]

KeyError: ('name', 'A')

In [59]:
df["city"] = ['Baku','Sumqayit','New York','Qazax']

In [60]:
df

  name surname      city
A    d      gg      Baku
B    1     hhh  Sumqayit
C    2     yyy  New York
D    5    %ghh     Qazax

In [61]:
df[0:2]

  name surname      city
A    d      gg      Baku
B    1     hhh  Sumqayit

In [62]:
df[1:]

  name surname      city
B    1     hhh  Sumqayit
C    2     yyy  New York
D    5    %ghh     Qazax

In [63]:
df['name']=['Elnur','Meded','Zahir','Mahir']

In [64]:
df

    name surname      city
A  Elnur      gg      Baku
B  Meded     hhh  Sumqayit
C  Zahir     yyy  New York
D  Mahir    %ghh     Qazax

In [65]:
df.rename(columns={'surname':'Surname'},index={'A':'A-1'},inplace=True)

In [66]:
df

      name Surname      city
A-1  Elnur      gg      Baku
B    Meded     hhh  Sumqayit
C    Zahir     yyy  New York
D    Mahir    %ghh     Qazax

In [67]:
new_columns = df['name'].values

In [68]:
df[new_columns] = pd.NA

In [73]:
df

      name Surname      city Elnur Meded Zahir Mahir
A-1  Elnur      gg      Baku  <NA>  <NA>  <NA>  <NA>
B    Meded     hhh  Sumqayit  <NA>  <NA>  <NA>  <NA>
C    Zahir     yyy  New York  <NA>  <NA>  <NA>  <NA>
D    Mahir    %ghh     Qazax  <NA>  <NA>  <NA>  <NA>

In [75]:
df['name']['A-1']

'Elnur'

In [76]:
for idx in df.index:
    for column in df.columns:
        if df['name'][idx] == column:
            df[column][idx]= df['name'][idx]
df

      name Surname      city  Elnur  Meded  Zahir  Mahir
A-1  Elnur      gg      Baku  Elnur   <NA>   <NA>   <NA>
B    Meded     hhh  Sumqayit   <NA>  Meded   <NA>   <NA>
C    Zahir     yyy  New York   <NA>   <NA>  Zahir   <NA>
D    Mahir    %ghh     Qazax   <NA>   <NA>   <NA>  Mahir