## Part 01

Write a Python code to print "Hello World".

In [1]:
print("Hello World")

Hello World

Correct the following code to print "Hello World": Print("Hello World").

In [2]:
print("Hello World")

Hello World

Fix the syntax error in the following code: print("Hello World" # if a parenthesis is opened, you must close.

In [3]:
print("Hello World")

Hello World

Fix the syntax error in the following code: print("hello world).

In [4]:
print("hello world")

hello world

Write a Python code to print "Hello" and "World" on separate lines.

In [9]:
print("Hello \nWorld")
print("Hello", "World", sep="\n")

Hello
World
Hello
World

Correct the following code to print "Hello" and "World" separately:

In [11]:
print("Hello World")

Hello World

Write a Python code to create a multi-line string and print it using triple quotes.

In [12]:
print("""This is
      a sample
      mullti-line string""")

This is
      a sample
      mullti-line string

Correct the syntax error in the following code:

In [13]:
print("""this 
      is a
        sample 
        string
        """)

this
      is a
        sample
        string

Fix the syntax error in the following code: print('hello world").

Correct the syntax error in the following code: print(""""""").

Write a Python code to print the string ' '.

What will be the output of the following code?

In [23]:
print("""""")
print("""""")
print(""" " """)

 "

## Part 02

### A) Creating variables

Declare a variable called name and assign it the value "John".

Create a variable named age and set it to 25.

Initialize a variable named pi and assign it the value 3.14.

Assign the string "Python" to a variable called language.

Declare a variable named is_student and set it to True.

### B) Variable Names

Which of the following variable names is valid in Python: my_var, 123var, variable_name, or Var$?

True or False: Variable names in Python are case-sensitive.

Is my_variable a valid variable name?

Identify the incorrect variable name: my_variable, MyVariable, my-variable, or my_variable_123?

Which of the following is a valid variable name: my_variable, my variable, or my-variable?

### C) Declaring multiple variables

Create three variables x, y, and z and assign them values 10, 20, and 30 respectively in a single line.

Initialize two variables a and b with the same value of 5 in a single line.

### D) Data Types and Conversion

Convert the string "10" to an integer.

Convert the integer 25 to a string.

Change the float value 3.14 to an integer.

Convert the boolean value True to an integer.

Convert the string "3.14" to a float.

Convert the string "3.14" to a int.

### E) Arithmetic Operations

Perform addition of 10 and 5.

Calculate the result of 25 minus 7.

Multiply 5 by 4.

Divide 20 by 3.

Calculate the integer division of 21 by 4.

In [1]:
21//4

5

Find the remainder when 17 is divided by 5.

In [2]:
17%5

2

Calculate 2 raised to the power of 5.

In [3]:
2**5

32

Compute the square root of 144.

In [4]:
144**0.5

12.0

Calculate the value of 7 squared.

In [21]:
7 **2

49

What is the result of 9 raised to the power of 0?

In [9]:
9**0

1

### F) Variable Shortcuts

Given x = 10, perform the operation x += 5. What is the new value of x?

In [12]:
x=10
x+=5
x

15

If y = 8, apply the operation y -= 3. What is the updated value of y?

In [13]:
y=8
y -= 3
y

5

Initialize a with the value 15. Use the shortcut a *= 3. What is the new value of a?

In [14]:
a = 15
a *=3
a

45

If b = 20, apply the operation b /= 4. What is the resulting value of b?

In [15]:
b =20
b /=4
b

5.0

Start with c = 5. Use the shortcut c += 10. What is the final value of c?

In [16]:
c =5
c += 10
c

15

Given d = 12, perform d //= 4. What is the updated value of d?

In [19]:
d =12
d //=4
d

3

Initialize e with the value 25. Use the shortcut e **= 2. What is the new value of e?

In [20]:
e = 25
e **=2
e

625

If f = 16, apply the operation f %= 7. What is the resulting value of f?

In [22]:
f =16
f %=7
f

2

Start with g = 7. Use the shortcut g *= 3. What is the final value of g?

In [23]:
g = 7
g *= 3
g

21

Given h = 30, perform h //= 5. What is the updated value of h?

In [24]:
h =30
h//=5
h

6

## Part 04

Modify the following codes to print the expected output:

In [25]:
print("Hello", "World") # Expected Output Hello World

Hello World

In [27]:
print(1,2,3, sep="-") # expected output 1-2-3

1-2-3

In [41]:
print("apple", "banana", "cherry", sep=", ") # expected output apple, banana, cherry

apple, banana, cherry

In [42]:
print(10, 20, 30, sep=": ") # expected output 10: 20: 30

10: 20: 30

Modify the following Python code snippet to print "Good" and "Morning" on separate lines. Make sure not to add another print function. Expected output:

Good

Morning

In [45]:
print("Good","Morning",sep="\n",end="\n")

Good
Morning

Prompt the user to enter their name and greet them with "Hello, [name]! How are you today?"

In [34]:
name_ = input("Please enter your name ....")
print("Hello",name_+"!","How are you today?")

Hello Elnur! How are you today?

Ask the user to input their birth year and calculate their current age. Then, print a message stating their age.

In [35]:
birth_y = int(input("Please, enter your birth year ...."))
age = 2024 - birth_y
print("Your age is",age)

Your age is 46

Request the user to input two numbers, add them together, and display the result.

In [37]:
var_1 = float(input("Please, enter a number ..."))
var_2 = float(input("Please, enter another number ..."))
c =var_1 + var_2
print(c)

87.03

Ask the user to input their favorite color and print a message including their input.

In [38]:
color = input("Please, state your favorite color ...")
print("Your favorite color is:", color)

Your favorite color is: red

Prompt the user to input their age in months and convert it to years. Then, display the result.

In [39]:
age_months = float(input("Please, enter your age in months ..."))
age_years = age_months / 12
print("Your age in years is:",age_years)

Your age in years is: 45.5