In [21]:
5**2

25

In [22]:
s=5**2 + 12**2

In [23]:
pow(s,(1/2))

13.0

In [24]:
(5**2+12**2)**0.5

13.0

In [25]:
print("hello word", end ="--")
print("35", 40,"75", sep ="**")
print("The end")

hello word--35**40**75
The end

In [4]:
x = (24/2) - (2**(1*8/2)/2)
x

4.0

In [5]:
weight = float(input("""What is your weight?
               Provide it as a numerical, and make sure the unit is kg"""))
height = float(input("How tall are you in meters. ex: 1.80"))
bmi = weight / height ** 2
print("Your body mass index is: ", bmi)

Your body mass index is:  34.331013389095226

In [9]:
print("Hi everyone. \nHope you guys are \"doing good. \b It is good \tto practice")

Hi everyone.
Hope you guys are "doing good. It is good 	to practice

In [1]:
ord("T")

84

In [2]:
ord(" ")

32

In [3]:
ord("3")

51

In [5]:
ord("Tec") #only one character

TypeError: ord() expected a character, but string of length 3 found

In [6]:
ord(9)

TypeError: ord() expected string of length 1, but int found

In [9]:
chr(51)

'3'

In [14]:
chr(1590)

'Ø¶'

In [20]:
# a script converting Farenheit to Celisius 
faren = float(input("Enter temperature in Fahrenheit: "))
celsius = (faren - 31) * (5/9)
celsius = "{:.2f}".format(celsius)
print(faren,"degree Farenheit equals", celsius, "degree Celsius")

45.6 degree Farenheit equals 8.11 degree Celsius

In [1]:
"Hell0">"500"

True

In [2]:
"i">"e"

True

In [3]:
False and not "hello" or True or "Merhaba" or True

True

In [5]:
0 or 2

2

In [14]:
"Hello" or 0 and 6

'Hello'

In [15]:
"YYYY".lower

In [22]:
"Emre"[1:].sentence()

AttributeError: 'str' object has no attribute 'sentence'

In [20]:
"EmRe"[0:2]+"EmRe"[2].lower() + "EmRe"[-1]

'Emre'

In [23]:
"ThhhhThrhJJJJk".swapcase()

'tHHHHtHRHjjjjK'

In [26]:
"We are data science STUDENTS".lower().capitalize().swapcase()

'wE ARE DATA SCIENCE STUDENTS'

In [30]:
"Techpro Education DATa science bootCAMP"[10::2].swapcase()

'UAINdt CEC OTap'

In [36]:
"We ARE GoinG to ExCeL At DaTa sCience".lower().capitalize().swapcase()

'wE ARE GOING TO EXCEL AT DATA SCIENCE'

In [35]:
"We ARE GoinG to ExCeL At DaTa sCience".lower().title().capitalize()

'We are going to excel at data science'

In [49]:
import re
"Data Science??????".replace()

In [50]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [59]:
"Dat?a Science??????".replace("?","!",-1)

'Dat!a Science!!!!!!'

In [60]:
"tech?pro Educat!on".replace("?","",2).replace("!","i").title().replace("T","H")

'Hechpro Education'

In [4]:
def fizzBuzz(n):
    # Write your code here
    for i in range(1,n+1):
        if i % 3==0 and i % 5==0:
            print("FizzBuzz")
        elif i%3==0 and i%5 != 0:
            print("Fizz")
        elif i%5==0 and i%3 != 0:
            print("Buzz")
        elif i%3 != 0 and i%5 != 0:
            print(i)
    return None

if __name__ == '__main__':
    n = int(input().strip())

    fizzBuzz(n)

1
2
Fizz

In [1]:
import sys

# sample Sets
Set1 = {"A", 1, "B", 2, "C", 3}
Set2 = {"Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu"}
Set3 = {(1, "Lion"), ( 2, "Tiger"), (3, "Fox")}

# print the sizes of sample Sets
print("Size of Set1: " + str(sys.getsizeof(Set1)) + "bytes")
print("Size of Set2: " + str(sys.getsizeof(Set2)) + "bytes")
print("Size of Set3: " + str(sys.getsizeof(Set3)) + "bytes")

Size of Set1: 472bytes
Size of Set2: 472bytes
Size of Set3: 216bytes

In [1]:
def print_formatted(number):
    width = len(bin(number)[2:])
    for i in range(1, number + 1):
        decimal = str(i).rjust(width)
        octal = oct(i)[2:].rjust(width)
        hexadecimal = hex(i)[2:].upper().rjust(width)
        binary = bin(i)[2:].rjust(width)
        print(f"{decimal} {octal} {hexadecimal} {binary}")

# Example usage
n = int(input("Enter the maximum value to print: "))
print_formatted(n)

    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [72]:
num = input().split()
n=int(num[0])
m=int(num[1])
reversed = list(range(n-1,int((n-1)/2),-1))
for i in range(n):
    if i == (n-1)/2:
        print("WELCOME".center(m,"-"))
    elif i < (n+1)/2: 
        print(((2*i+1)*".|.").center(m,"-"))
for k in range(len(reversed)):
    print(((reversed[0]-(2*k+1))*".|.").center(m,"-"))

---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [47]:
list(range(n-1,int((n-1)/2),-1))

[6, 5, 4]

In [65]:
s = input()

In [70]:
s.split()

['7', '21']

Write a program in Python using a while loop to check if a given string is a palindrome. A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization. Like -> anna   ,  12321 , level  , mom, 454

In [16]:
def is_palindrome(text):
    text = ''.join(char.lower() for char in text if char.isalnum())
    start = 0
    end = len(text)-1
    while start < end:
        if text[start] != text[end]:
            return False
        start +=1
        end -=1
    return True

In [20]:
is_palindrome("Anknla")

False

Write the code that determines whether the nuclear family consisting of Anne, Baba, and Ãocuk is a Super family. Ask for their names from the user. (If all the silent letters in the child's name are present in the names of both the mother and the father, then this family is a Super family. (Note: there must be at least one name for both the mother and the father).) Example 1: Father's name = "Halil", Mother's name = "Merve", Child's name = "Veli" >> Super family. ("v" from mother, "l" from father) Example 2: Father's name = "Murat", Mother's name = "SongÃ¼l", Child's name = "Mert" >> Not a Super family. There are no letters from the mother.

In [34]:
vowels = ['a', 'e', 'i', 'o', 'u', 'Ä±', 'Ã¶', 'Ã¼']
mother = "Halide"
father = "Halil"
child = "Hala"
m_list = set([char.lower() for char in mother if char.lower() not in vowels])
f_list = set([char.lower() for char in father if char.lower() not in vowels])
c_list = set([char.lower() for char in child if char.lower() not in vowels])

In [35]:
if c_list.issubset(m_list) and c_list.issubset(f_list):
    print("It is a Super family")
else:
    print("It is not a Super familiy")

It is a Super family

In [36]:
def is_super_family(mother,father,child):
    vowels = ['a', 'e', 'i', 'o', 'u', 'Ä±', 'Ã¶', 'Ã¼']
    m_list = set([char.lower() for char in mother if char.lower() not in vowels])
    f_list = set([char.lower() for char in father if char.lower() not in vowels])
    c_list = set([char.lower() for char in child if char.lower() not in vowels])
    if c_list.issubset(m_list) and c_list.issubset(f_list):
        return ("It is a Super family")
    else:
        return ("It is not a Super familiy")

mother = input("Please, enther mother's name")
father = input("Please, enter father's name")
child = input("Please, enter child's name")
is_super_family(mother,father,child)

'It is not a Super familiy'

In [40]:
N=5
width = 4*N-3
alphabet = 'abcdefghijklmnopqrstuvwxyz'
lines=[]
s = '-'.join(alphabet)
for i in range(N):
    s = '-'.join(alphabet[N-1:i:-1] + alphabet[i:N])
    lines.append((s.center(width,'-')))
print('\n'.join(lines[::-1] + lines[1:]))

--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

['--------e--------',
 '------e-d-e------',
 '----e-d-c-d-e----',
 '--e-d-c-b-c-d-e--',
 'e-d-c-b-a-b-c-d-e']

In [1]:
s = "hello   world  lol"
words = s.split(' ')
print(words)
cap_words = []
for word in words:
    if word.isalpha():
        word = word.capitalize()
    cap_words.append(word)
print(' '.join(cap_words))

['hello', '', '', 'world', '', 'lol']
Hello   World  Lol

In [4]:
def minion_game(string):
    vowels = 'AEIOU'
    Kevin = 0
    Stuart = 0

    for i in range(len(string)):
        if string[i] in vowels:
            Kevin += len(string) - i
        else:
            Stuart += len(string) - i

    if Kevin == Stuart:
        return "Draw"
    elif Kevin > Stuart:
        return f"Kevin {Kevin}"
    else:
        return f"Stuart {Stuart}"

# Example usage
result = minion_game("ABANANANANANANANANANANANNNANANANANANANANAN")
print(result)  # Output: Stuart 12

Stuart 459

In [54]:
def merge_the_tools(string, k):
    # your code goes here
    n = len(string)
    subs = [string[z:z+3] for z in range(0,n,3)]
    for sub in subs:
        seen = set()
        result=[]
        for char in sub:
            if char not in seen:
                seen.add(char)
                result.append(char)
        print(''.join(result))


if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

['AAB', 'CAA', 'ADA']
AB
CA
AD

In [13]:
[i for i in range(0,3)]

[0, 1, 2]

In [4]:
import calendar
print(calendar.month(2024,4))

     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [8]:
nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
    print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
# generate fibonacci sequence
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        # update values
        n1 = n2
        n2 = nth
        count += 1

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [13]:
# Fibonacci number function
nterms = int(input("How many terms?:..."))
fib_sequence = [0,1]
while len(fib_sequence) < nterms:
    fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
print(f'Fibonacci sequence of {nterms} terms: {fib_sequence}')

Fibonacci sequence of 10 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# Armstrong number calculation. 
# Armstrong number is a number that is equal to the sum of its own digits, 
# each raised to a power equal to the number of digits in the number.

num = input("Please, enter a number: ")

no_of_digits = len(num)

new_num = [int(digit) ** no_of_digits for digit in num]
if sum(new_num) == int(num):
    print(f'{num} is an Armstrong number.')
else:
    print(f'{num} is not an Armstrong number.')

In [7]:
# Armstrong number calculation. 
# Armstrong number is a number that is equal to the sum of its own digits, 
# each raised to a power equal to the number of digits in the number.
# Python Program to Find Armstrong Number in an Interval.
lower = input("Enter the lower limit of the interval: ")
upper = input("Enter the upper limit of the interval: ")

arm_list = []

for num in range(int(lower),int(upper)+1):
    no_of_digits = len(str(num))
    new_num = [int(digit) ** no_of_digits for digit in str(num)]
    if sum(new_num) == int(num):
        arm_list.append(num)
print(arm_list)

[153, 370, 371, 407]

In [1]:
b = [1,5,9]

In [4]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [6]:
%matplotlib

Using matplotlib backend: <object object at 0x75c28593f300>