In [1]:
class sample_class:
    pass

In [2]:
print(type(sample_class))

<class 'type'>

In [3]:
class Car:
    pass

In [4]:
car1 = Car()

In [5]:
type(car1)

__main__.Car

In [6]:
car1.__doc__

In [7]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [8]:
class Person:
    pass

In [9]:
p1 = Person()

In [10]:
p1.name = 'Elnur'
p1.age = 41
p1.job = 'Data Scientist'

In [11]:
p1.name

'Elnur'

In [12]:
class Person:
    def __init__(self,NAME, SURNAME, AGE):
        self.name = NAME,
        self.surname = SURNAME,
        self.age = AGE

In [14]:
p1 = Person('Elnur','Asgarli',46)

In [16]:
p1.age

46

In [17]:
class Employees:
    def __init__(self, name, surname, salary):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.raise_amount = 1.25

In [18]:
e1 = Employees("Tahereh","Abbaszadeh",32)

In [19]:
e1.__dict__

{'name': 'Tahereh',
 'surname': 'Abbaszadeh',
 'salary': 32,
 'raise_amount': 1.25}

In [34]:
class Employees:
    def __init__(self, name, surname, salary, raise_amount = 1.25):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.raise_amount = raise_amount
    def salary_increase(self):
        self.salary = self.salary * self.raise_amount

In [21]:
e2 = Employees("George","Tucker", 2500)

In [24]:
e2.__dict__

{'name': 'George', 'surname': 'Tucker', 'salary': 2500, 'raise_amount': 1.25}

In [25]:
e2.salary_increase()

In [26]:
e2.__dict__

{'name': 'George', 'surname': 'Tucker', 'salary': 3125.0, 'raise_amount': 1.25}

In [27]:
e3 = Employees('John','Black',3000)

In [28]:
e3.__dict__

{'name': 'John', 'surname': 'Black', 'salary': 3000, 'raise_amount': 1.25}

In [29]:
e3.raise_amount=1.1

In [30]:
e3.salary_increase()

In [31]:
e3.__dict__

{'name': 'John',
 'surname': 'Black',
 'salary': 3300.0000000000005,
 'raise_amount': 1.1}

In [32]:
e4 = Employees('Patrick', 'Cooper',2000,1.15)

In [35]:
e4.salary_increase()

In [36]:
e4.__dict__

{'name': 'Patrick',
 'surname': 'Cooper',
 'salary': 2300.0,
 'raise_amount': 1.15}

In [37]:
class Employees:
    def __init__(self, name, surname, salary, raise_amount):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.raise_amount = raise_amount
    def salary_increase(self):
        self.salary = self.salary * self.raise_amount

In [38]:
e5 = Employees('John','Dutton',4000,1.05)

In [40]:
e5.__dict__

{'name': 'John', 'surname': 'Dutton', 'salary': 4000, 'raise_amount': 1.05}

In [112]:
e6 = Employees('Mark','Elton',3500, 1.1)

In [42]:
e6.__dict__

{'name': 'Mark', 'surname': 'Elton', 'salary': 3500, 'raise_amount': 1.1}

In [53]:
class Employees:
    raise_amount = 1.25
    def __init__(self, name, surname, salary, raise_amount):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.raise_amount = raise_amount
    def salary_increase(self):
        self.salary = self.salary * Employees.raise_amount

In [55]:
e7 = Employees('Senol', 'Ergin', 3500, 1.5)

In [56]:
e7.salary_increase()

In [57]:
e7.__dict__

{'name': 'Senol', 'surname': 'Ergin', 'salary': 4375.0, 'raise_amount': 1.5}

In [65]:
class Employees:
    employee_count = 0
    def __init__(self, name, surname, salary, raise_amount=1.1):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.raise_amount = raise_amount
        Employees.employee_count +=1
    def salary_increase(self):
        self.salary = self.salary * self.raise_amount
    
    def person_info(self):
        print(f"Name:{self.name}, Surname:{self.surname}, salary:{self.salary}")
        
    @classmethod
    def number_of_employees(cls):
        return f"Number of employees: {cls.employee_count}"

In [66]:
e8 = Employees('Red','John',6500)
e9 = Employees('Blue','Jane',5500)

In [67]:
e8.person_info()

Name:Red, Surname:John, salary:6500

In [68]:
e8.__dict__

{'name': 'Red', 'surname': 'John', 'salary': 6500, 'raise_amount': 1.1}

In [69]:
e8.salary_increase()

In [70]:
e8.__dict__

{'name': 'Red',
 'surname': 'John',
 'salary': 7150.000000000001,
 'raise_amount': 1.1}

In [71]:
e8.number_of_employees()

'Number of employees: 2'

In [72]:
Employees.person_info()

TypeError: Employees.person_info() missing 1 required positional argument: 'self'

In [73]:
class Employees:
    employee_count = 0
    def __init__(self, name, surname, salary, raise_amount=1.1):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.raise_amount = raise_amount
        Employees.employee_count +=1
    def salary_increase(self):
        self.salary = self.salary * self.raise_amount
    
    def person_info(self):
        print(f"Name:{self.name}, Surname:{self.surname}, salary:{self.salary}")
        
    @classmethod
    def number_of_employees(cls):
        return f"Number of employees: {cls.employee_count}"

In [74]:
e8 = Employees('Red','John',6500)
e9 = Employees('Blue','Jane',5500)

In [75]:
class Programmers(Employees):
    pass

In [76]:
pr1 = Programmers('Jonas','John',7000)

In [77]:
pr1.__dict__

{'name': 'Jonas', 'surname': 'John', 'salary': 7000, 'raise_amount': 1.1}

In [78]:
pr1.number_of_employees()

'Number of employees: 3'

In [79]:
class Programmers(Employees):
    def __init__(self, name, surname, salary, language):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.language = language

In [84]:
p2 = Programmers('nickle', 'hjtr',1900,'python')

In [85]:
p2.__dict__

{'name': 'nickle', 'surname': 'hjtr', 'salary': 1900, 'language': 'python'}

In [87]:
p2.raise_amount = 1.2

In [88]:
p2.salary_increase()

In [90]:
p2.__dict__

{'name': 'nickle',
 'surname': 'hjtr',
 'salary': 2280.0,
 'language': 'python',
 'raise_amount': 1.2}

In [91]:
class Employees:
    employee_count = 0
    raise_amount = 1.2
    def __init__(self, name, surname, salary, raise_amount=1.1):
        self.name = name
        self.surname = surname
        self.salary = salary
        Employees.employee_count +=1
    def salary_increase(self):
        self.salary = self.salary * self.raise_amount
    
    def person_info(self):
        print(f"Name:{self.name}, Surname:{self.surname}, salary:{self.salary}")
        
    @classmethod
    def number_of_employees(cls):
        return f"Number of employees: {cls.employee_count}"

In [92]:
class Programmers(Employees):
    def __init__(self, name, surname, salary, language):
        self.name = name
        self.surname = surname
        self.salary = salary
        self.language = language

In [93]:
p3 = Programmers('gtht','khjhjj',3500, 'java')

In [94]:
p3.salary_increase()

In [95]:
p3.__dict__

{'name': 'gtht', 'surname': 'khjhjj', 'salary': 4200.0, 'language': 'java'}

In [96]:
class Programmers(Employees):
    def __init__(self, name, surname, salary, language):
        super().__init__(name, surname, salary)
        self.language = language
    def person_info(self, yearofexp):
        self.experience = yearofexp
        print(f"Name:{self.name}, Surname:{self.surname}, salary:{self.salary}, with  {self.experience} years")

In [97]:
p4 = Programmers("ahmad","erto",2400,"C++")

In [98]:
p4.__dict__

{'name': 'ahmad', 'surname': 'erto', 'salary': 2400, 'language': 'C++'}

In [100]:
p4.person_info(15)

Name:ahmad, Surname:erto, salary:2400, with  15 years

In [107]:
class Manager(Employees):
    def __init__(self, name, surname, salary, empmanag =None):
        super().__init__(name, surname, salary)
        if empmanag == None:
            self.employee = []
        else:
            self.employee = empmanag
    def add_employee(self, empmanag):
        if empmanag not in self.employee:
            self.employee.append(empmanag)
    def remove_employee(self, empmanag):
        if empmanag in self.employee:
            self.employee.remove(empmanag)
    def show_employees(self):
        print(f"Name:{self.name}, Surname:{self.surname}, salary:{self.salary}, Manages: {self.employee}")

In [108]:
m1 = Manager('grtr','jhthg',7000)

In [109]:
m1.__dict__

{'name': 'grtr', 'surname': 'jhthg', 'salary': 7000, 'employee': []}

In [113]:
m1.add_employee(e6)

In [114]:
m1.show_employees()

Name:grtr, Surname:jhthg, salary:7000, Manages: [<__main__.Employees object at 0x70cfb41bee50>, <__main__.Employees object at 0x70cfb4abd9d0>]

In [115]:
m1.remove_employee(e6)

In [116]:
m1.show_employees()

Name:grtr, Surname:jhthg, salary:7000, Manages: [<__main__.Employees object at 0x70cfb41bee50>]